 html, body {
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
}

.embed-container {
    overflow: hidden;
    position: relative;
    height: 100%;
}

    .embed-container iframe, .embed-container object, .embed-container embed {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
    }

.panel {
    height: 100%;
}

.panel-body {
    height: 100%;
    padding-bottom: 55px;
}
