span.right{float:right;font-size:1.2em;font-weight:600}span.left{float:left;font-size:1.2em;font-weight:600}.combatname{width:100%}.club{font-size:.8em !important;font-weight:400 !important;position:relative;top:5px}
