if not exists(select * from sys.columns where Name = N'niveau' and Object_ID = Object_ID(N'combatOrdre'))
begin
     ALTER TABLE combatOrdre ADD niveau int
end
----GO

UPDATE combatOrdre SET niveau =  1 WHERE niveau IS NULL
----GO

if not exists(select * from sys.columns where Name = N'typeCompetition' and Object_ID = Object_ID(N'combatOrdre'))
begin
     ALTER TABLE combatOrdre ADD typeCompetition int
end
----GO

UPDATE combatOrdre SET typeCompetition =  0 WHERE typeCompetition IS NULL
----GO


if not exists(select * from sys.objects where object_id = OBJECT_ID(N'[dbo].[Secteur]') AND type in (N'U'))
begin
     CREATE TABLE [dbo].[Secteur](
		[id] [nvarchar](50) NOT NULL,
		[nom] [nvarchar](50) NOT NULL,
		[nomCourt] [nvarchar](50) NULL,
	 CONSTRAINT [PK_Secteur] PRIMARY KEY CLUSTERED 
	(
		[id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
end
----GO

if not exists(select * from sys.columns where Name = N'secteur' and Object_ID = Object_ID(N'Comite'))
begin
     ALTER TABLE Comite ADD secteur nvarchar(50)
end
----GO

UPDATE Comite SET secteur =  N'0' WHERE secteur IS NULL
----GO

if not exists(select * from sys.columns where Name = N'code' and Object_ID = Object_ID(N'Comite'))
begin
     ALTER TABLE Comite ADD code nvarchar(50)
end
----GO

UPDATE Comite SET code =  N'0' WHERE code IS NULL
----GO

if not exists(select * from sys.columns where Name = N'code' and Object_ID = Object_ID(N'Ligue'))
begin
     ALTER TABLE Ligue ADD code nvarchar(50)
end
----GO

UPDATE Ligue SET code =  N'0' WHERE code IS NULL
----GO

if not exists(select * from sys.columns where Name = N'isRandomCombat' and Object_ID = Object_ID(N'Competition'))
begin
     ALTER TABLE Competition ADD isRandomCombat bit
end
----GO
     
UPDATE Competition SET isRandomCombat = 1 WHERE isRandomCombat IS NULL
----GO

if not exists(select * from sys.columns where Name = N'formule' and Object_ID = Object_ID(N'Competition'))
begin
     ALTER TABLE Competition ADD formule int
end
----GO
     
UPDATE Competition SET formule = 0 WHERE formule IS NULL
----GO

if not exists(select * from sys.columns where Name = N'afficheCSA' and Object_ID = Object_ID(N'Competition'))
begin
     ALTER TABLE Competition ADD afficheCSA INT NOT NULL DEFAULT 0
end
----GO
     
UPDATE Competition SET afficheCSA = 0 WHERE afficheCSA IS NULL
----GO

if not exists(select * from sys.columns where Name = N'id' and Object_ID = Object_ID(N'Participant'))
begin
	DECLARE @table NVARCHAR(512), @sql NVARCHAR(MAX);

	SELECT @table = N'Participant';

	SELECT @sql = 'ALTER TABLE ' + @table 
		+ ' DROP CONSTRAINT ' + name + ';'
		FROM sys.key_constraints
		WHERE [type] = 'PK'
		AND [parent_object_id] = OBJECT_ID(@table);

	EXEC sp_executeSQL @sql;

	ALTER TABLE Participant  ADD id int NOT NULL IDENTITY (1, 1)  
	  
	ALTER TABLE Participant ADD CONSTRAINT
        PK_Participant PRIMARY KEY CLUSTERED 
        (
          id
        ) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, 
        ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
end
----GO


if not exists(select * from sys.columns where Name = N'linkTab' and Object_ID = Object_ID(N'Phase'))
begin
     ALTER TABLE Phase ADD linkTab bit
end
----GO
     
UPDATE Phase SET linkTab = 0 WHERE linkTab IS NULL
----GO

if not exists(select * from sys.columns where Name = N'pouleClassement' and Object_ID = Object_ID(N'MetaPhase'))
begin
     ALTER TABLE MetaPhase ADD pouleClassement bit
end
----GO
     
UPDATE MetaPhase SET pouleClassement = 0 WHERE pouleClassement IS NULL
----GO


if not exists(select * from sys.columns where Name = N'niveauRepechage2' and Object_ID = Object_ID(N'Phase'))
begin
     ALTER TABLE Phase ADD niveauRepechage2 int
end
----GO
     
UPDATE Phase SET niveauRepechage2 = niveauRepechage WHERE niveauRepechage2 IS NULL
----GO

if not exists(select * from sys.columns where Name = N'niveauRepeches2' and Object_ID = Object_ID(N'Phase'))
begin
     ALTER TABLE Phase ADD niveauRepeches2 int
end
----GO
     
UPDATE Phase SET niveauRepeches2 = niveauRepeches WHERE niveauRepeches2 IS NULL
----GO


if not exists(select * from sys.columns where Name = N'cumulPointsGRCH' and Object_ID = Object_ID(N'Participant'))
begin
     ALTER TABLE Participant ADD cumulPointsGRCH int
end
----GO
     
UPDATE Participant SET cumulPointsGRCH = 0 WHERE cumulPointsGRCH IS NULL
----GO
if not exists(select * from sys.columns where Name = N'version' and Object_ID = Object_ID(N'Competition'))
begin
     ALTER TABLE Competition ADD version nvarchar(255) NULL
end
----GO
if not exists(select * from sys.columns where Name = N'first_rencontre' and Object_ID = Object_ID(N'Combat'))
begin
     ALTER TABLE Combat ADD first_rencontre int
end
----GO
     
UPDATE Combat SET first_rencontre = 0 WHERE first_rencontre IS NULL
----GO
ALTER TABLE Combat ALTER COLUMN first_rencontre int NOT NULL
----GO

/****** Object:  View [dbo].[vue_judoka]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_judoka]'))
DROP VIEW [dbo].[vue_judoka]
--GO
/****** Object:  View [dbo].[vue_groupe]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_groupe]'))
DROP VIEW [dbo].[vue_groupe]
--GO
/****** Object:  View [dbo].[vue_epreuve_equipe]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_epreuve_equipe]'))
DROP VIEW [dbo].[vue_epreuve_equipe]
--GO
/****** Object:  View [dbo].[vue_epreuve]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_epreuve]'))
DROP VIEW [dbo].[vue_epreuve]
--GO
/****** Object:  View [dbo].[vue_combat_ind]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_combat_ind]'))
DROP VIEW [dbo].[vue_combat_ind]
--GO
/****** Object:  View [dbo].[vue_combat_equ]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_combat_equ]'))
DROP VIEW [dbo].[vue_combat_equ]
--GO
/****** Object:  View [dbo].[vue_combat]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_combat]'))
DROP VIEW [dbo].[vue_combat]
--GO
/****** Object:  StoredProcedure [dbo].[GetNbCombatJudoka]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNbCombatJudoka]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].GetNbCombatJudoka
--GO
/****** Object:  StoredProcedure [dbo].[GetNbPointJudoka]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNbPointJudoka]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].GetNbPointJudoka
--GO
/****** Object:  StoredProcedure [dbo].[RemovePhaseIndividuelle]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemovePhaseIndividuelle]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RemovePhaseIndividuelle]
--GO
/****** Object:  StoredProcedure [dbo].[RemovePhaseEquipe]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemovePhaseEquipe]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RemovePhaseEquipe]
--GO
/****** Object:  StoredProcedure [dbo].[RemoveParticipants]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemoveParticipants]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RemoveParticipants]
--GO
/****** Object:  StoredProcedure [dbo].[RemoveCombats]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemoveCombats]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RemoveCombats]
--GO
/****** Object:  StoredProcedure [dbo].[RemovePoule]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemovePoule]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].RemovePoule
--GO
/****** Object:  StoredProcedure [dbo].[ListeTapisPhase]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ListeTapisPhase]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ListeTapisPhase]
--GO
/****** Object:  StoredProcedure [dbo].[ListeParticipant2]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ListeParticipant2]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ListeParticipant2]
--GO
/****** Object:  StoredProcedure [dbo].[ListeParticipant1]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ListeParticipant1]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ListeParticipant1]
--GO
/****** Object:  StoredProcedure [dbo].[ListeCombat]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ListeCombat]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ListeCombat]
--GO
/****** Object:  StoredProcedure [dbo].[GetNbCombatsRestantGroupe]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNbCombatsRestantGroupe]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetNbCombatsRestantGroupe]
--GO
/****** Object:  StoredProcedure [dbo].[GetNbCombatsGroupe]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNbCombatsGroupe]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetNbCombatsGroupe]
--GO
/****** Object:  StoredProcedure [dbo].[GetJudokaEpreuve]    Script Date: 30/06/2015 12:00:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetJudokaEpreuve]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetJudokaEpreuve]
--GO
/****** Object:  StoredProcedure [dbo].[GetNbCombatJudoka]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNbCombatJudoka]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetNbCombatJudoka]
	@licence nvarchar(250)
AS
	--DECLARE @result int;

	SELECT  count(*) 
	FROM Combat AS C
	INNER JOIN Judoka AS J1 ON J1.id = C.participant1 
	INNER JOIN Judoka AS J2 ON J2.id = C.participant2
	WHERE (J1.licence like @licence OR J2.licence like @licence)
		AND NOT(C.vainqueur IS NULL) AND C.vainqueur <> 0 
		AND C.etatJ1 <> 3 AND etatJ2 <> 3
RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[GetNbPointJudoka]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNbPointJudoka]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetNbPointJudoka]
	@licence nvarchar(250)
AS
	--DECLARE @result int;

	SELECT SUM(cumulPointsGRCH)
	FROM Participant AS C
	INNER JOIN Judoka AS J1 ON J1.id = C.judoka
	WHERE (J1.licence like @licence )
RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[GetJudokaEpreuve]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetJudokaEpreuve]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetJudokaEpreuve]
	@epreuve int
AS
	DECLARE @type int; 

	SELECT @type = type FROM Competition 

	IF @type = 1 
	BEGIN
		SELECT Judoka.* 
		FROM Judoka 
		INNER JOIN EpreuveJudoka ON Judoka.id = EpreuveJudoka.judoka 
		INNER JOIN Epreuve ON Epreuve.id = EpreuveJudoka.epreuve 
		WHERE Epreuve.epreuve_equipe=@epreuve
	END
	ELSE
	BEGIN
		SELECT Judoka.* 
		FROM Judoka 
		INNER JOIN EpreuveJudoka ON Judoka.id = EpreuveJudoka.judoka 
		WHERE EpreuveJudoka.epreuve=@epreuve
	END
RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[GetNbCombatsGroupe]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNbCombatsGroupe]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetNbCombatsGroupe]
	@id int = 0,
	@tapis int
AS
	SELECT COUNT(id)
	FROM Combat 
	WHERE groupe = @id AND tapis = @tapis
RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[GetNbCombatsRestantGroupe]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNbCombatsRestantGroupe]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetNbCombatsRestantGroupe]
	@id int = 0,
	@tapis int
AS
	SELECT COUNT(id)
	FROM Combat 
	WHERE groupe = @id AND tapis = @tapis AND vainqueur IS NULL
RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[ListeCombat]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ListeCombat]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ListeCombat]
	@competitiontype int
AS
	IF @competitiontype = 1
	BEGIN
		SELECT * FROM vue_combat_equ
	END
	ELSE
	BEGIN
		SELECT * FROM vue_combat_ind
	END

RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[ListeParticipant1]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ListeParticipant1]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ListeParticipant1]
	@epreuve int
AS
	SELECT Participant.* 
	FROM Participant 
	INNER JOIN Phase ON Phase.id = Participant.phase 
	WHERE Phase.precedent = 0 AND Phase.epreuve = @epreuve
RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[ListeParticipant2]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ListeParticipant2]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ListeParticipant2]
	@epreuve int
AS
	SELECT Participant.* 
	FROM Participant 
	INNER JOIN Phase ON Phase.id = Participant.phase 
	WHERE Phase.suivant = 0 AND Phase.epreuve = @epreuve
RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[ListeTapisPhase]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ListeTapisPhase]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ListeTapisPhase]
	@id int
AS
--SELECT DISTINCT
--(
	SELECT tapis
	FROM Combat
	WHERE Combat.phase =@id

	UNION 

	SELECT Groupe_Combats.tapis
	FROM Combat 
	INNER JOIN Groupe_Combats ON Combat.groupe = Groupe_Combats.id
	WHERE Combat.phase =@id
--)

RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[RemoveCombats]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemoveCombats]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RemoveCombats]
	@id int
AS
	DELETE FROM feuille  WHERE phase=@id
	DELETE FROM Rencontre WHERE combat IN (SELECT id FROM Combat WHERE phase = @id)
	DELETE FROM combat WHERE phase=@id
RETURN 0' 
END
--GO

/****** Object:  StoredProcedure [dbo].[RemovePoule]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemovePoule]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RemovePoule]
	@id int
AS
	DELETE FROM POULE  WHERE phase=@id
RETURN 0' 
END
--GO



/****** Object:  StoredProcedure [dbo].[RemoveParticipants]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemoveParticipants]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RemoveParticipants]
	@id int
AS
	 DELETE FROM Participant WHERE phase = @id    
RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[RemovePhaseEquipe]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemovePhaseEquipe]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RemovePhaseEquipe]
	@id int
AS
	 DELETE FROM Poule WHERE phase = @id
     DELETE FROM Feuille WHERE phase= @id
     DELETE FROM Participant WHERE phase = @id
	 DELETE FROM Rencontre WHERE combat IN (SELECT id FROM Combat WHERE phase = @id)
     DELETE FROM Combat WHERE phase = @id
     DELETE FROM Groupe_Combats WHERE decoupage IN (SELECT id FROM Phase_Decoupage WHERE phase = @id);
     DELETE FROM Phase_Decoupage WHERE phase = @id
     DELETE FROM Phase WHERE id = @id

RETURN 0' 
END
--GO
/****** Object:  StoredProcedure [dbo].[RemovePhaseIndividuelle]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RemovePhaseIndividuelle]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RemovePhaseIndividuelle]
	@id int
AS
	 DELETE FROM Poule WHERE phase = @id
     DELETE FROM Feuille WHERE phase= @id
     DELETE FROM Participant WHERE phase = @id
     DELETE FROM Combat WHERE phase = @id
     DELETE FROM Groupe_Combats WHERE decoupage IN (SELECT id FROM Phase_Decoupage WHERE phase = @id);
     DELETE FROM Phase_Decoupage WHERE phase = @id
     DELETE FROM Phase WHERE id = @id
RETURN 0' 
END
--GO
/****** Object:  View [dbo].[vue_combat]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_combat]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vue_combat]
	AS 
		SELECT

		Combat.id AS combat_id,
		Combat.numero AS combat_numero,
		Combat.reference AS combat_reference,
		Combat.score1 AS combat_score1,
		Combat.score2 AS combat_score2,
		Combat.penalite1 AS combat_penalite1,
		Combat.penalite2 AS combat_penalite2,
		Combat.programmation AS combat_programmation,
		Combat.debut AS combat_debut,
		Combat.fin AS combat_fin,
		Combat.etat AS combat_etat,

		Combat.vainqueur AS combat_vaiqueur,
		Combat.tapis AS combat_tapis,
		Combat.groupe AS combat_groupe,
		Combat.details AS combat_details,

		ISNULL(CASE WHEN Feuille.niveau is NULL THEN Combat.niveau ELSE Feuille.niveau END, 0) AS combat_niveau, 

		ISNULL(GestionTemps.tempsCombat, 0) AS combat_temps, 
		ISNULL(GestionTemps.tempsRecuperation, 0) AS combat_tempsRecup, 


		ISNULL(CASE WHEN E1.id is NULL THEN (CASE WHEN J1.id is NULL THEN 0 ELSE J1.id END) ELSE E1.id END, 0) AS judoka1_id,
		
		ISNULL(CASE WHEN E1.club is NULL THEN (CASE WHEN J1.club is NULL THEN '''' ELSE J1.club END) ELSE E1.club END, '''') AS judoka1_club,
		CASE WHEN J1.licence is NULL THEN '''' ELSE J1.licence END AS judoka1_licence,
		CASE WHEN E1.libelle is NULL THEN (CASE WHEN J1.nom is NULL THEN '''' ELSE J1.nom END) ELSE E1.libelle END AS judoka1_nom,
		CASE WHEN J1.prenom is NULL THEN '''' ELSE J1.prenom END AS judoka1_prenom,

		ISNULL(CASE WHEN E2.id is NULL THEN (CASE WHEN J2.id is NULL THEN 0 ELSE J2.id END) ELSE E2.id END, 0) AS judoka2_id,
		ISNULL(CASE WHEN E2.club is NULL THEN (CASE WHEN J2.club is NULL THEN '''' ELSE J2.club END) ELSE E2.club END, '''') AS judoka2_club,
		CASE WHEN J2.licence is NULL THEN '''' ELSE J2.licence END AS judoka2_licence,
		CASE WHEN E2.libelle is NULL THEN (CASE WHEN J2.nom is NULL THEN '''' ELSE J2.nom END) ELSE E2.libelle END AS judoka2_nom,
		CASE WHEN J2.prenom is NULL THEN '''' ELSE J2.prenom END AS judoka2_prenom,

		ISNULL(Phase.id, 0) AS phase_id,
		CASE WHEN Phase.id is NULL THEN '''' ELSE Phase.libelle END AS phase_libelle,

		ISNULL(Phase.typePhase, 0) AS phase_type,
		ISNULL(Phase.etat, 0) AS phase_etat,

		ISNULL(CategorieAge.id, 0) AS cateAge_id,
		CASE WHEN CategorieAge.id is NULL THEN '''' ELSE CategorieAge.nom END AS cateAge_nom,
		ISNULL(CategoriePoids.id, 0) AS catePoids_id,
		CASE WHEN CategoriePoids.id is NULL THEN '''' ELSE CategoriePoids.nom END AS catePoids_nom,

		ISNULL(Competition.id, 0) AS competition_id,
		CASE WHEN Competition.id is NULL THEN '''' ELSE Competition.nom END AS competition_nom,
		Competition.date AS competition_date,
		CASE WHEN Competition.id is NULL THEN '''' ELSE Competition.lieu END AS competition_lieu,

		ISNULL(Epreuve.id, 0) AS epreuve_id,
		CASE WHEN Epreuve.id is NULL THEN ''aucune'' ELSE Epreuve.nom END AS epreuve_nom,
		ISNULL(Epreuve.poidsMin, 0) AS epreuve_poidsMin,
		ISNULL(Epreuve.poidsMax, 0) AS epreuve_poidsMax,
		ISNULL(Epreuve.ceintureMin, 0) AS epreuve_ceintureMin,
		ISNULL(Epreuve.ceintureMax, 0) AS epreuve_ceintureMax,
		ISNULL( Epreuve.anneeMin, 0) AS epreuve_anneeMin,
		ISNULL(Epreuve.anneeMax, 0) AS epreuve_anneeMax,
		Epreuve.debut AS epreuve_debut,
		Epreuve.fin AS epreuve_fin,

		CASE WHEN Phase.typePhase = 2 THEN 
			CASE WHEN Epreuve.id is NULL 
			THEN ''aucune''
			ELSE 
			( 
				CASE WHEN LEFT(Combat.reference, 1) = ''1'' THEN (CONVERT(nvarchar, POWER(2, Combat.niveau-1)) + '' ème '') ELSE ''R '' END
				--+ ISNULL(CategorieAge.remoteId, '''') 
				+  Epreuve.nom
			)
			END
		ELSE 
			''P.'' + Combat.reference + '' '' 
			--+ ISNULL(CategorieAge.remoteId, '''') 
			+ (CASE WHEN Epreuve.id is NULL THEN ''aucune'' ELSE Epreuve.nom END) 
		END AS phase_name,
			

		CASE WHEN Epreuve.sexe = 1 THEN ''F'' ELSE ''M'' END AS epreuve_sexe

			FROM Combat
			LEFT OUTER JOIN Feuille ON Feuille.combat = Combat.id
			LEFT OUTER JOIN Judoka AS J1 ON Combat.participant1 = J1.id
			LEFT OUTER JOIN Judoka AS J2 ON Combat.participant2 = J2.id
			LEFT OUTER JOIN Equipe AS E1 ON Combat.participant1 = E1.id
			LEFT OUTER JOIN Equipe AS E2 ON Combat.participant2 = E2.id

			LEFT OUTER JOIN Phase ON Combat.phase = Phase.id
			LEFT OUTER JOIN Epreuve ON Phase.epreuve = Epreuve.id
			LEFT OUTER JOIN CategorieAge ON Epreuve.categorieAge = CategorieAge.id
			LEFT OUTER JOIN CategoriePoids ON Epreuve.categoriePoids = CategoriePoids.id
			LEFT OUTER JOIN Competition ON Epreuve.competition = Competition.id
			LEFT OUTER JOIN GestionTemps ON Epreuve.categorieAge = GestionTemps.CateAge
			WHERE GestionTemps.sexe = Epreuve.sexe' 
--GO
/****** Object:  View [dbo].[vue_combat_equ]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_combat_equ]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vue_combat_equ]
	AS 
	SELECT
		Combat.id AS combat_id,
		Combat.numero AS combat_numero,
		Combat.reference AS combat_reference,
		Combat.score1 AS combat_score1,
		Combat.score2 AS combat_score2,
		Combat.penalite1 AS combat_penalite1,
		Combat.penalite2 AS combat_penalite2,
		Combat.programmation AS combat_programmation,
		Combat.debut AS combat_debut,
		Combat.fin AS combat_fin,
		Combat.etat AS combat_etat,

		Combat.vainqueur AS combat_vaiqueur,
		Combat.tapis AS combat_tapis,
		Combat.groupe AS combat_groupe,
		Combat.details AS combat_details,

		ISNULL(CASE WHEN Feuille.niveau is NULL THEN Combat.niveau ELSE Feuille.niveau END, 0) AS combat_niveau, 

		ISNULL(GestionTemps.tempsCombat, 0) AS combat_temps, 
		ISNULL(GestionTemps.tempsRecuperation, 0) AS combat_tempsRecup,

		CASE WHEN E1.id is NULL THEN 0 ELSE E1.id END AS judoka1_id,
		
		CASE WHEN E1.club is NULL THEN '''' ELSE E1.club END AS judoka1_club,
		'''' AS judoka1_licence,
		CASE WHEN E1.libelle is NULL THEN '''' ELSE E1.libelle END AS judoka1_nom,
		'''' AS judoka1_prenom,

		ISNULL(E2.id, 0) AS judoka2_id,
		CASE WHEN E2.club is NULL THEN '''' ELSE E2.club END AS judoka2_club,
		'''' AS judoka2_licence,
		CASE WHEN E2.libelle is NULL THEN '''' ELSE E2.libelle END AS judoka2_nom,
		'''' AS judoka2_prenom,

		ISNULL(Phase.id, 0) AS phase_id,
		CASE WHEN Phase.id is NULL THEN '''' ELSE Phase.libelle END AS phase_libelle,
		ISNULL(Phase.typePhase, 0) AS phase_type,
		ISNULL(Phase.etat, 0) AS phase_etat,

		ISNULL(CategorieAge.id, 0) AS cateAge_id,
		CASE WHEN CategorieAge.id is NULL THEN '''' ELSE CategorieAge.nom END AS cateAge_nom,

		0 AS catePoids_id,
		'''' AS catePoids_nom,

		ISNULL(Competition.id, 0) AS competition_id,
		CASE WHEN Competition.id is NULL THEN '''' ELSE Competition.nom END AS competition_nom,
		Competition.date AS competition_date,
		CASE WHEN Competition.id is NULL THEN '''' ELSE Competition.lieu END AS competition_lieu,

		ISNULL(Epreuve_Equipe.id, 0) AS epreuve_id,
		CASE WHEN Epreuve_Equipe.id is NULL THEN ''aucune'' ELSE Epreuve_Equipe.libelle END AS epreuve_nom,
		0 AS epreuve_poidsMin,
		0 AS epreuve_poidsMax,
		ISNULL(Epreuve_Equipe.ceintureMin, 0) AS epreuve_ceintureMin,
		ISNULL(Epreuve_Equipe.ceintureMax, 0) AS epreuve_ceintureMax,
		ISNULL( Epreuve_Equipe.anneeMin, 0) AS epreuve_anneeMin,
		ISNULL(Epreuve_Equipe.anneeMax, 0) AS epreuve_anneeMax,
		Epreuve_Equipe.debut AS epreuve_debut,
		Epreuve_Equipe.fin AS epreuve_fin,

		CASE WHEN Phase.typePhase = 2 THEN 
			CASE WHEN Epreuve_Equipe.id is NULL 
			THEN ''aucune''
			ELSE 
			( 
				CASE WHEN LEFT(Combat.reference, 1) = ''1'' THEN (CONVERT(nvarchar, POWER(2, Combat.niveau-1)) + '' ème '') ELSE ''R '' END
				--+ ISNULL(CategorieAge.remoteId, '''') 
				+  Epreuve_Equipe.libelle 
				--+ '' '' +
				--CASE WHEN LEFT(Combat.reference, 3) = ''1.1'' OR LEFT(Combat.reference, 5) = ''2.1.1'' THEN ''A'' ELSE 
				--	CASE WHEN LEFT(Combat.reference, 3) = ''1.2'' OR LEFT(Combat.reference, 5) = ''2.1.2'' THEN ''B'' ELSE '''' END  
				--END
			)
			END
		ELSE 
			''P.'' + Combat.reference + '' '' 
			--+ ISNULL(CategorieAge.remoteId, '''') 
			+ (CASE WHEN Epreuve_Equipe.id is NULL THEN ''aucune'' ELSE Epreuve_Equipe.libelle END) 
		END AS phase_name,



		'''' AS epreuve_sexe

			FROM Combat
			LEFT OUTER JOIN Feuille ON Feuille.combat = Combat.id
			LEFT OUTER JOIN Equipe AS E1 ON Combat.participant1 = E1.id
			LEFT OUTER JOIN Equipe AS E2 ON Combat.participant2 = E2.id

			LEFT OUTER JOIN Phase ON Combat.phase = Phase.id
			LEFT OUTER JOIN Epreuve_Equipe ON Phase.epreuve = Epreuve_Equipe.id
			LEFT OUTER JOIN CategorieAge ON Epreuve_Equipe.categorieAge = CategorieAge.id
			--LEFT OUTER JOIN CategoriePoids ON Epreuve_Equipe.categoriePoids = CategoriePoids.id
			LEFT OUTER JOIN Competition ON Epreuve_Equipe.competition = Competition.id
			LEFT OUTER JOIN GestionTemps ON Epreuve_Equipe.categorieAge = GestionTemps.CateAge
			WHERE GestionTemps.sexe = (SELECT TOP(1) sexe FROM Epreuve WHERE Epreuve.epreuve_equipe = Epreuve_Equipe.id)' 
--GO
/****** Object:  View [dbo].[vue_combat_ind]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_combat_ind]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vue_combat_ind]
	AS 

	SELECT

		Combat.id AS combat_id,
		Combat.numero AS combat_numero,
		Combat.reference AS combat_reference,
		Combat.score1 AS combat_score1,
		Combat.score2 AS combat_score2,
		Combat.penalite1 AS combat_penalite1,
		Combat.penalite2 AS combat_penalite2,
		Combat.programmation AS combat_programmation,
		Combat.debut AS combat_debut,
		Combat.fin AS combat_fin,
		Combat.etat AS combat_etat,
		Combat.vainqueur AS combat_vaiqueur,
		Combat.tapis AS combat_tapis,
		Combat.groupe AS combat_groupe,
		Combat.details AS combat_details,

		ISNULL(CASE WHEN Feuille.niveau is NULL THEN Combat.niveau ELSE Feuille.niveau END, 0) AS combat_niveau, 

		ISNULL(GestionTemps.tempsCombat, 0) AS combat_temps, 
		ISNULL(GestionTemps.tempsRecuperation, 0) AS combat_tempsRecup, 


		ISNULL(J1.id, 0) AS judoka1_id,		
		ISNULL(J1.club, '''') AS judoka1_club,

		CASE WHEN J1.licence is NULL THEN '''' ELSE J1.licence END AS judoka1_licence,
		CASE WHEN J1.nom is NULL THEN '''' ELSE J1.nom END AS judoka1_nom,
		CASE WHEN J1.prenom is NULL THEN '''' ELSE J1.prenom END AS judoka1_prenom,

		ISNULL(J2.id, 0) AS judoka2_id,
		ISNULL(J2.club, '''') AS judoka2_club,
		CASE WHEN J2.licence is NULL THEN '''' ELSE J2.licence END AS judoka2_licence,
		CASE WHEN J2.nom is NULL THEN '''' ELSE J2.nom END AS judoka2_nom,
		CASE WHEN J2.prenom is NULL THEN '''' ELSE J2.prenom END AS judoka2_prenom,

		ISNULL(Phase.id, 0) AS phase_id,
		CASE WHEN Phase.id is NULL THEN '''' ELSE Phase.libelle END AS phase_libelle,
		ISNULL(Phase.typePhase, 0) AS phase_type,
		ISNULL(Phase.etat, 0) AS phase_etat,

		ISNULL(CategorieAge.id, 0) AS cateAge_id,
		CASE WHEN CategorieAge.id is NULL THEN '''' ELSE CategorieAge.nom END AS cateAge_nom,
		ISNULL(CategoriePoids.id, 0) AS catePoids_id,
		CASE WHEN CategoriePoids.id is NULL THEN '''' ELSE CategoriePoids.nom END AS catePoids_nom,

		ISNULL(Competition.id, 0) AS competition_id,
		CASE WHEN Competition.id is NULL THEN '''' ELSE Competition.nom END AS competition_nom,
		Competition.date AS competition_date,
		CASE WHEN Competition.id is NULL THEN '''' ELSE Competition.lieu END AS competition_lieu,

		ISNULL(Epreuve.id, 0) AS epreuve_id,
		CASE WHEN Epreuve.id is NULL THEN ''aucune'' ELSE Epreuve.nom END AS epreuve_nom,
		ISNULL(Epreuve.poidsMin, 0) AS epreuve_poidsMin,
		ISNULL(Epreuve.poidsMax, 0) AS epreuve_poidsMax,
		ISNULL(Epreuve.ceintureMin, 0) AS epreuve_ceintureMin,
		ISNULL(Epreuve.ceintureMax, 0) AS epreuve_ceintureMax,
		ISNULL( Epreuve.anneeMin, 0) AS epreuve_anneeMin,
		ISNULL(Epreuve.anneeMax, 0) AS epreuve_anneeMax,
		Epreuve.debut AS epreuve_debut,
		Epreuve.fin AS epreuve_fin,

		CASE WHEN Phase.typePhase = 2 THEN 
			CASE WHEN Epreuve.id is NULL 
			THEN ''aucune''
			ELSE 
			( 
				CASE WHEN LEFT(Combat.reference, 1) = ''1'' THEN (CONVERT(nvarchar, POWER(2, Combat.niveau-1)) + '' ème '') ELSE ''R '' END
				--+ ISNULL(CategorieAge.remoteId, '''') 
				+  Epreuve.nom
				--+ '' '' + Combat.reference
				--CASE WHEN LEFT(Combat.reference, 3) = ''1.1'' OR LEFT(Combat.reference, 5) = ''2.1.1'' THEN ''A'' ELSE 
				--	CASE WHEN LEFT(Combat.reference, 3) = ''1.2'' OR LEFT(Combat.reference, 5) = ''2.1.2'' THEN ''B'' ELSE '''' END  
				--END
			)
			END
		ELSE 
			''P.'' + Combat.reference + '' '' 
			--+ ISNULL(CategorieAge.remoteId, '''') 
			+ Epreuve.nom 
		END AS phase_name,

		CASE WHEN Epreuve.sexe = 1 THEN ''F'' ELSE ''M'' END AS epreuve_sexe

			FROM Combat
			LEFT OUTER JOIN Feuille ON Feuille.combat = Combat.id
			LEFT OUTER JOIN Judoka AS J1 ON Combat.participant1 = J1.id
			LEFT OUTER JOIN Judoka AS J2 ON Combat.participant2 = J2.id

			LEFT OUTER JOIN Phase ON Combat.phase = Phase.id

			LEFT OUTER JOIN Epreuve ON Phase.epreuve = Epreuve.id
			LEFT OUTER JOIN CategorieAge ON Epreuve.categorieAge = CategorieAge.id
			LEFT OUTER JOIN CategoriePoids ON Epreuve.categoriePoids = CategoriePoids.id
			LEFT OUTER JOIN Competition ON Epreuve.competition = Competition.id
			LEFT OUTER JOIN GestionTemps ON Epreuve.categorieAge = GestionTemps.CateAge
			WHERE GestionTemps.sexe = Epreuve.sexe' 
--GO
/****** Object:  View [dbo].[vue_epreuve]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_epreuve]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vue_epreuve]
	AS 

SELECT DISTINCT 
id,  
nom,  
debut,  
fin,  
remoteID,  
competition,  
categoriePoids,  
poidsMin,  
poidsMax,  
ceintureMin,  
ceintureMax,  
anneeMin, 
anneeMax,  
sexe,  
categorieAge,  
lib_sexe, 
nom_catepoids, 
remoteId_catepoids,  
nom_cateage, 
ordre,  
remoteId_cateage,  
id_epreuve_equipe,  
lib_epreuve_equipe,  
phase1,  
phase2,  
nom_compet 

FROM            (SELECT DISTINCT row_number() OVER (partition BY Epreuve.id
                          ORDER BY Epreuve.id DESC) AS rang,
Epreuve.id,  
Epreuve.nom,  
Epreuve.debut,  
Epreuve.fin,  
Epreuve.remoteID,  
Epreuve.competition,  
Epreuve.categoriePoids,  
Epreuve.poidsMin,  
Epreuve.poidsMax,  
Epreuve.ceintureMin,  
Epreuve.ceintureMax,  
Epreuve.anneeMin, 
Epreuve.anneeMax,  
Epreuve.sexe,  
Epreuve.categorieAge,  
CASE WHEN Epreuve.sexe = 1 THEN ''F'' ELSE ''M'' END AS lib_sexe, 

CASE WHEN CategoriePoids.nom IS NULL THEN Epreuve.nom ELSE CategoriePoids.nom END AS nom_catepoids, 
CASE WHEN CategoriePoids.remoteId IS NULL THEN '''' ELSE CategoriePoids.remoteId END AS remoteId_catepoids,  

CASE WHEN CategorieAge.nom IS NULL THEN '''' ELSE CategorieAge.nom END AS nom_cateage, 
CASE WHEN CategorieAge.ordre IS NULL THEN ''0'' ELSE CategorieAge.ordre END AS ordre,  
CASE WHEN CategorieAge.remoteId IS NULL THEN '''' ELSE CategorieAge.remoteId END AS remoteId_cateage,  

CASE WHEN Epreuve_Equipe.id IS NULL THEN 0 ELSE Epreuve_Equipe.id END AS id_epreuve_equipe,  
CASE WHEN Epreuve_Equipe.libelle IS NULL THEN '''' ELSE Epreuve_Equipe.libelle END AS lib_epreuve_equipe,  

CASE WHEN P1.id IS NULL THEN 0 ELSE P1.id END AS phase1,  
--CASE WHEN P1.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P1.id AND Combat.vainqueur IS NULL) END AS nbcombat1,  
--CASE WHEN P1.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P1.id) END AS nbcombattotal1,  
--CASE WHEN P1.id IS NULL THEN -1 ELSE P1.etat END AS valid1,  

CASE WHEN P2.id IS NULL THEN (CASE WHEN P3.id IS NULL THEN 0 ELSE P3.id END) ELSE P2.id END AS phase2,  
--CASE WHEN P2.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P2.id AND Combat.vainqueur IS NULL AND Combat.reference LIKE ''1%'') END AS nbcombat2,  
--CASE WHEN P2.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P2.id AND Combat.vainqueur IS NULL AND NOT(Combat.reference LIKE ''1%'')) END AS nbcombat2Rep,  
--CASE WHEN P2.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P2.id) END AS nbcombattotal2,  
--CASE WHEN P2.id IS NULL THEN -1 ELSE P2.etat END AS valid2,  

--0 AS nbjudoka,  
--0 AS nbparticipant,
Competition.nom AS nom_compet 

FROM  Epreuve 
LEFT OUTER JOIN Epreuve_Equipe ON Epreuve_Equipe.id = Epreuve.epreuve_equipe

LEFT OUTER JOIN Phase AS P1 ON Epreuve.id = P1.epreuve AND P1.typePhase = 1
LEFT OUTER JOIN Phase AS P3 ON Epreuve.id = P3.epreuve AND P3.typePhase = 1 AND P3.id <> P1.id
LEFT OUTER JOIN Phase AS P2 ON Epreuve.id = P2.epreuve AND P2.typePhase = 2

LEFT OUTER JOIN CategoriePoids ON CategoriePoids.id = Epreuve.categoriePoids
INNER JOIN CategorieAge ON CategorieAge.id = Epreuve.categorieAge
INNER JOIN Competition ON Competition.id = Epreuve.competition) as req
WHERE        rang = 1' 
--GO
/****** Object:  View [dbo].[vue_epreuve_equipe]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_epreuve_equipe]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vue_epreuve_equipe]
	AS 
SELECT DISTINCT 
id,  
nom,  
debut,  
fin,  
remoteID,  
competition,
ceintureMin,  
ceintureMax,  
anneeMin, 
anneeMax, 
categorieAge,   

nom_cateage, 
ordre,  
remoteId_cateage,  
phase1,  
--nbcombat1,  
--nbcombattotal1,  
--valid1,  

phase2,  
--nbcombat2,  
--nbcombat2Rep,  
--nbcombattotal2,  
--valid2,  

--0 AS nbjudoka,  
nom_compet 

FROM            
(SELECT DISTINCT row_number() OVER (partition BY Epreuve_Equipe.id ORDER BY Epreuve_Equipe.id DESC) AS rang,
Epreuve_Equipe.id,  
Epreuve_Equipe.libelle AS nom,  
Epreuve_Equipe.debut,  
Epreuve_Equipe.fin,  
Epreuve_Equipe.remoteID,  
Epreuve_Equipe.competition,
Epreuve_Equipe.ceintureMin,  
Epreuve_Equipe.ceintureMax,  
Epreuve_Equipe.anneeMin, 
Epreuve_Equipe.anneeMax, 
Epreuve_Equipe.categorieAge,   

CASE WHEN CategorieAge.nom IS NULL THEN '''' ELSE CategorieAge.nom END AS nom_cateage, 
CASE WHEN CategorieAge.ordre IS NULL THEN ''0'' ELSE CategorieAge.ordre END AS ordre,  
CASE WHEN CategorieAge.remoteId IS NULL THEN '''' ELSE CategorieAge.remoteId END AS remoteId_cateage,  


CASE WHEN P1.id IS NULL THEN 0 ELSE P1.id END AS phase1,  
--CASE WHEN P1.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P1.id AND Combat.vainqueur IS NULL) END AS nbcombat1,  
--CASE WHEN P1.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P1.id) END AS nbcombattotal1,  
--CASE WHEN P1.id IS NULL THEN -1 ELSE P1.etat END AS valid1,  

CASE WHEN P2.id IS NULL THEN 0 ELSE P2.id END AS phase2,  
--CASE WHEN P2.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P2.id AND Combat.vainqueur IS NULL AND Combat.reference LIKE ''1%'') END AS nbcombat2,  
--CASE WHEN P2.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P2.id AND Combat.vainqueur IS NULL AND NOT(Combat.reference LIKE ''1%'')) END AS nbcombat2Rep,  
--CASE WHEN P2.id IS NULL THEN 0 ELSE (SELECT COUNT(*) FROM Combat WHERE Combat.phase = P2.id) END AS nbcombattotal2,  
--CASE WHEN P2.id IS NULL THEN -1 ELSE P2.etat END AS valid2,  

--0 AS nbjudoka,  
Competition.nom AS nom_compet 

FROM  Epreuve_Equipe 

LEFT OUTER JOIN Phase AS P1 ON Epreuve_Equipe.id = P1.epreuve AND P1.typePhase = 1
LEFT OUTER JOIN Phase AS P2 ON Epreuve_Equipe.id = P2.epreuve AND P2.typePhase = 2

INNER JOIN CategorieAge ON CategorieAge.id = Epreuve_Equipe.categorieAge
INNER JOIN Competition ON Competition.id = Epreuve_Equipe.competition) as req
WHERE        rang = 1' 
--GO
/****** Object:  View [dbo].[vue_groupe]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_groupe]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vue_groupe]
	AS 
SELECT 
	Groupe_Combats.id AS groupe_id, 
	Groupe_Combats.tapis AS groupe_tapis, 
	Groupe_Combats.libelle AS groupe_libelle, 
	Groupe_Combats.horaire_debut AS groupe_debut, 
	Groupe_Combats.horaire_fin AS groupe_fin, 
	Groupe_Combats.verrouille AS groupe_verrouille, 
	0 AS nb_combats_restant,

	ISNULL(Phase.etat, 0) AS phase_etat,
	CASE WHEN Phase.etat is NULL THEN '''' ELSE Phase.libelle END AS phase_libelle,
	ISNULL(Phase.id, 0) AS phase_id,
	ISNULL(Phase.typePhase, 0) AS phase_type,

	CASE  WHEN Epreuve_Equipe.id is NULL 
	THEN 
		ISNULL(Epreuve.id, 0)
	ELSE 
		Epreuve_Equipe.id 
	END AS epreuve_id,

	CASE  WHEN Epreuve_Equipe.libelle is NULL 
	THEN 
		ISNULL(Epreuve.nom, ''aucune'')
	ELSE 
		Epreuve_Equipe.libelle 
	END AS epreuve_nom,

	CASE  WHEN Epreuve_Equipe.libelle is NULL 
	THEN 
		ISNULL(Epreuve.poidsMin, 0)
	ELSE 
		0
	END AS epreuve_poidsMin,

	CASE  WHEN Epreuve_Equipe.libelle is NULL 
	THEN 
		ISNULL(Epreuve.poidsMax, 0)
	ELSE 
		0
	END AS epreuve_poidsMax,

	CASE  WHEN Epreuve_Equipe.libelle is NULL 
	THEN 
		CASE WHEN Epreuve.sexe = 1 THEN ''F'' ELSE ''M'' END
	ELSE 
		''''
	END AS epreuve_libsexe

    FROM Groupe_Combats 
    LEFT OUTER JOIN Phase_Decoupage ON Groupe_Combats.decoupage = Phase_Decoupage.id
    LEFT OUTER JOIN Phase ON Phase.id = Phase_Decoupage.phase
    LEFT OUTER JOIN Epreuve ON Epreuve.id = Phase.epreuve
	LEFT OUTER JOIN Epreuve_Equipe ON Epreuve_Equipe.id = Phase.epreuve' 
--GO
/****** Object:  View [dbo].[vue_judoka]    Script Date: 30/06/2015 12:00:39 ******/
SET ANSI_NULLS ON
--GO
SET QUOTED_IDENTIFIER ON
--GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vue_judoka]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vue_judoka]
	AS 
	SELECT 
                Judoka.id,          
                Judoka.licence,     
                Judoka.nom,        
                Judoka.prenom,      
                Judoka.ceinture,     
                Judoka.naissance,    
                Judoka.sexe,          
                Judoka.categorie,   
                Judoka.modification,  
                Judoka.club,         
                Judoka.pays,         
                Judoka.datePesee,    
                Judoka.present,      
                Judoka.passeport,   
                Judoka.modeControle,  
                Judoka.modePesee,

                Ceintures.couleur1,  
                Ceintures.couleur2,   
                Judoka.remoteID AS remoteId,     
                Judoka.qualifieE0 AS qualifie0, 
                Judoka.qualifieE1 AS qualifie1, 
                ISNULL(Judoka.poidsMesure / 1000.0, 0) AS poidsMesure, 
                ISNULL(Judoka.poids / 1000.0, 0)  AS poids,            
                ISNULL(datepart(year,naissance),1900) as annee,        
                Ceintures.nom AS nomCeinture,             


                CASE WHEN Club.nomCourt is NULL THEN '''' ELSE Club.nomCourt END AS clubNomCourt,
                CASE WHEN Club.nom is NULL THEN '''' ELSE Club.nom END AS clubNom,

                CASE WHEN Club.comite is NULL THEN Club.comite ELSE Club.comite END AS comiteNomCourt,
                CASE WHEN Comite.nom is NULL THEN Club.comite ELSE Comite.nom END AS comiteNom,

				CASE WHEN Ligue.id is NULL THEN '''' ELSE Ligue.id END AS ligue,
                CASE WHEN Ligue.nomCourt is NULL THEN '''' ELSE Ligue.nomCourt END AS ligueNomCourt,
                CASE WHEN Ligue.nom is NULL THEN '''' ELSE Ligue.nom END AS ligueNom,

                ISNULL(CASE WHEN EpreuveJudoka.etat is NULL THEN Judoka.etat ELSE EpreuveJudoka.etat END,0) AS etat,
                CASE WHEN CategorieAge.nom is NULL THEN '''' ELSE CategorieAge.nom END AS nomCategorieAge,

                CASE WHEN Judoka.sexe = 1 THEN ''F'' ELSE ''M'' END AS lib_sexe,

                ISNULL(Epreuve.poidsMin, 0) AS poidsMin,
                ISNULL(Epreuve.poidsMax, 0) AS poidsMax,
                ISNULL(Epreuve.anneeMin, 1900) AS anneeMin,
                ISNULL(Epreuve.anneeMax, 2030) AS anneeMax,

                CASE WHEN Epreuve.nom is NULL THEN ''aucune'' ELSE Epreuve.nom END AS libepreuve,
                ISNULL(Epreuve.id, 0) AS idepreuve,
                ISNULL(Epreuve.competition, 0) AS idcompet,

                ISNULL(Epreuve_Equipe.id, 0) AS idepreuve_equipe,

                ISNULL(EpreuveJudoka.serie, 0) AS serie,
                ISNULL(EpreuveJudoka.serie2, 0) AS serie2,
                ISNULL(EpreuveJudoka.observation, 0) AS observation,
                ISNULL(EpreuveJudoka.points, 0) AS points,
                ISNULL(EpreuveJudoka.classement, 0) AS classement,
                CASE WHEN Competition.nom is NULL THEN ''Non inscrits'' ELSE Competition.nom END AS nom_compet,

                ISNULL(Equipe.id, 0) AS equipe,
                CASE WHEN Equipe.libelle is NULL THEN '''' ELSE Equipe.libelle END AS lib_equipe

                 FROM Judoka 
                 LEFT OUTER JOIN CategorieAge ON CategorieAge.id = Judoka.categorie
                 LEFT OUTER JOIN Ceintures ON Judoka.ceinture = Ceintures.id

                 LEFT OUTER JOIN Club ON Club.id = Judoka.club
                 LEFT OUTER JOIN Comite ON Comite.id = Club.comite
                 LEFT OUTER JOIN Ligue ON Ligue.id = Club.ligue

                 LEFT OUTER JOIN EpreuveJudoka ON EpreuveJudoka.judoka = Judoka.id
                 LEFT OUTER JOIN Epreuve ON Epreuve.id = EpreuveJudoka.epreuve
                 LEFT OUTER JOIN Epreuve_Equipe ON Epreuve.epreuve_equipe = Epreuve_Equipe.id
                 LEFT OUTER JOIN Competition ON Competition.id = Epreuve.competition
                 LEFT OUTER JOIN Equipe ON Equipe.id = Judoka.equipe

                 WHERE Comite.ligue = Ligue.id OR Comite.ligue IS NULL' 
--GO
TRUNCATE TABLE [dbo].[Pays]
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (4, N'AF', N'AFG', N'Afghanistan', N'AFG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (710, N'ZA', N'RSA', N'South Africa', N'RSA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (8, N'AL', N'ALB', N'Albania', N'ALB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (12, N'DZ', N'ALG', N'Algeria', N'ALG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (276, N'DE', N'GER', N'Germany', N'GER')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (20, N'AD', N'AND', N'Andorra', N'AND')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (24, N'AO', N'ANG', N'Angola', N'ANG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (660, N'AI', N'AIA', N'Anguilla', N'AIA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (10, N'AQ', N'ATA', N'Antarctic', N'ATA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (28, N'AG', N'ATG', N'Antigua and Barbuda', N'ATG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (530, N'AN', N'AHO', N'Netherlands Antilles', N'AHO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (682, N'SA', N'KSA', N'Saudi Arabia ', N'KSA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (32, N'AR', N'ARG', N'Argentina', N'ARG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (51, N'AM', N'ARM', N'Armenia', N'ARM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (533, N'AW', N'ARU', N'Aruba', N'ARU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (36, N'AU', N'AUS', N'Australia', N'AUS')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (40, N'AT', N'AUT', N'Austria', N'AUT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (31, N'AZ', N'AZE', N'Azerbaijan', N'AZE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (44, N'BS', N'BAH', N'Bahamas', N'BAH')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (48, N'BH', N'BRN', N'Bahrain', N'BRN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (50, N'BD', N'BAN', N'Bangladesh', N'BAN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (52, N'BB', N'BAR', N'Barbados', N'BAR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (112, N'BY', N'BLR', N'Belarus', N'BLR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (56, N'BE', N'BEL', N'Belgium', N'BEL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (84, N'BZ', N'BIZ', N'Belize', N'BIZ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (204, N'BJ', N'BEN', N'Benin', N'BEN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (60, N'BM', N'BMU', N'Bermudes', N'BMU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (64, N'BT', N'BHU', N'Bhutan', N'BHU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (68, N'BO', N'BOL', N'Bolivia', N'BOL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (70, N'BA', N'BIH', N'Bosnia and Herzegovina', N'BIH')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (72, N'BW', N'BOT', N'Botswana', N'BOT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (76, N'BR', N'BRA', N'Brazil', N'BRA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (96, N'BN', N'BRU', N'Brunei Darussalam', N'BRU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (100, N'BG', N'BUL', N'Bulgaria', N'BUL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (854, N'BF', N'BUR', N'Burkina Faso', N'BUR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (108, N'BI', N'BDI', N'Burundi', N'BDI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (116, N'KH', N'CAM', N'Cambodia', N'CAM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (120, N'CM', N'CMR', N'Cameroon', N'CMR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (124, N'CA', N'CAN', N'Canada', N'CAN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (132, N'CV', N'CPV', N'Cape Verde', N'CPV')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (152, N'CL', N'CHI', N'Chile', N'CHI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (156, N'CN', N'CHN', N'China', N'CHN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (196, N'CY', N'CYP', N'Cyprus', N'CYP')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (170, N'CO', N'COL', N'Colombia', N'COL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (174, N'KM', N'COM', N'Comores', N'COM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (188, N'CR', N'CRC', N'Costa Rica', N'CRC')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (384, N'CI', N'CIV', N'Ivory Coast', N'CIV')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (191, N'HR', N'CRO', N'Croatia', N'CRO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (192, N'CU', N'CUB', N'Cuba', N'CUB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (208, N'DK', N'DEN', N'Danemark', N'DEN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (262, N'DJ', N'DJI', N'Djibouti', N'DJI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (212, N'DM', N'DMA', N'Dominique', N'DMA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (818, N'EG', N'EGY', N'Egypt', N'EGY')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (222, N'SV', N'ESA', N'El Salvador', N'ESA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (784, N'AE', N'UAE', N'United Arab Emirates', N'UAE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (218, N'EC', N'ECU', N'Ecuador', N'ECU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (232, N'ER', N'ERI', N'Eritrea', N'ERI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (724, N'ES', N'ESP', N'Spain', N'ESP')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (233, N'EE', N'EST', N'Estonia', N'EST')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (583, N'FM', N'FSM', N'Federated States of Micronesia', N'FSM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (840, N'US', N'USA', N'United States of America', N'USA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (231, N'ET', N'ETH', N'Ethiopia', N'ETH')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (643, N'RU', N'RUS', N'Russian Federation', N'RUS')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (242, N'FJ', N'FIJ', N'Fiji', N'FIJ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (246, N'FI', N'FIN', N'Finland', N'FIN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (250, N'FR', N'FRA', N'France', N'FRA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (266, N'GA', N'GAB', N'Gabon', N'GAB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (270, N'GM', N'GAM', N'Gambia', N'GAM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (268, N'GE', N'GEO', N'Gaorgia', N'GEO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (239, N'GS', N'SGS', N'South Georgia and the South Sandwich Islands', N'SGS')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (288, N'GH', N'GHA', N'Ghana', N'GHA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (292, N'GI', N'GIB', N'Gibraltar', N'GIB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (300, N'GR', N'GRE', N'Greece', N'GRE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (308, N'GD', N'GRD', N'Grenade', N'GRD')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (304, N'GL', N'GRL', N'Greenland', N'GRL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (312, N'GP', N'GLP', N'Guadeloupe', N'GLP')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (316, N'GU', N'GUM', N'Guam', N'GUM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (320, N'GT', N'GUA', N'Guatemala', N'GUA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (324, N'GN', N'GUI', N'Guinea', N'GUI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (226, N'GQ', N'GEQ', N'Equatorial Guinea', N'GEQ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (624, N'GW', N'GBS', N'Guinea-Bissau', N'GBS')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (328, N'GY', N'GUY', N'Guyana', N'GUY')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (254, N'GF', N'GUF', N'French Guiana', N'GUF')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (332, N'HT', N'HAI', N'Haiti', N'HAI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (340, N'HN', N'HON', N'Honduras', N'HON')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (344, N'HK', N'HKG', N'Hong Kong, China', N'HKG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (348, N'HU', N'HUN', N'Hungary', N'HUN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (74, N'BV', N'BVT', N'Bouvet Island', N'BVT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (162, N'CX', N'CXR', N'Christmas Island', N'CXR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (833, N'IM', N'IMN', N'Isle of man', N'IMN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (574, N'NF', N'NFI', N'Norfolk Island', N'NFI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (238, N'FK', N'FLK', N'Falkland Islands', N'FLK')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (248, N'AX', N'ALA', N'Åland Islands', N'ALA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (136, N'KY', N'CAY', N'Cayman Islands', N'CAY')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (166, N'CC', N'CCK', N'Cocos (Keeling) Islands', N'CCK')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (184, N'CK', N'COK', N'Cook Islands', N'COK')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (234, N'FO', N'FRO', N'Faroe Islands', N'FRO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (334, N'HM', N'HMD', N'Heard and McDonald Islands', N'HMD')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (580, N'MP', N'MNP', N'Northern Mariana Islands', N'MNP')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (584, N'MH', N'MHL', N'Marshall Islands', N'MHL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (581, N'UM', N'UMI', N'United States Minor Outlying Islands', N'UMI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (90, N'SB', N'SOL', N'Solomon Islands', N'SOL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (796, N'TC', N'TCA', N'Turks and Caicos Islands', N'TCA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (92, N'VG', N'VGB', N'British Virgin Islands', N'VGB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (850, N'VI', N'VIR', N'US Virgin Islands', N'VIR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (356, N'IN', N'IND', N'India', N'IND')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (360, N'ID', N'INA', N'Indonesia', N'INA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (368, N'IQ', N'IRQ', N'Iraq', N'IRQ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (372, N'IE', N'IRL', N'Irland', N'IRL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (352, N'IS', N'ISL', N'Iceland', N'ISL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (376, N'IL', N'ISR', N'Israel', N'ISR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (380, N'IT', N'ITA', N'Italy', N'ITA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (434, N'LY', N'LBA', N'Libya', N'LBA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (388, N'JM', N'JAM', N'Jamaica', N'JAM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (392, N'JP', N'JPN', N'Japan', N'JPN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (400, N'JO', N'JOR', N'Jordan', N'JOR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (398, N'KZ', N'KAZ', N'Kazakhstan', N'KAZ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (404, N'KE', N'KEN', N'Kenya', N'KEN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (417, N'KG', N'KGZ', N'Kyrgyzstan', N'KGZ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (296, N'KI', N'KIR', N'Kiribati', N'KIR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (414, N'KW', N'KUW', N'Kowait', N'KUW')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (426, N'LS', N'LES', N'Lesotho', N'LES')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (428, N'LV', N'LAT', N'Latvia', N'LAT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (807, N'MK', N'MKD', N'North Macedonia', N'MKD')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (422, N'LB', N'LBN', N'Lebanon', N'LBN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (430, N'LR', N'LBR', N'Liberia', N'LBR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (438, N'LI', N'LIE', N'Liechtenstein', N'LIE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (440, N'LT', N'LTU', N'Lituania', N'LTU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (442, N'LU', N'LUX', N'Luxembourg', N'LUX')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (446, N'MO', N'MAC', N'Macau', N'MAC')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (450, N'MG', N'MAD', N'Madagascar', N'MAD')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (458, N'MY', N'MAS', N'Malaysia', N'MAS')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (454, N'MW', N'MAW', N'Malawi', N'MAW')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (462, N'MV', N'MDV', N'Maldives', N'MDV')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (466, N'ML', N'MLI', N'Mali', N'MLI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (470, N'MT', N'MLT', N'Malta', N'MLT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (504, N'MA', N'MAR', N'Morocco', N'MAR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (474, N'MQ', N'MTQ', N'Martinique', N'MTQ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (480, N'MU', N'MRI', N'Mauritius', N'MRI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (478, N'MR', N'MTN', N'Mauritania', N'MTN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (175, N'YT', N'MYT', N'Mayotte', N'MYT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (484, N'MX', N'MEX', N'Mexico', N'MEX')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (492, N'MC', N'MON', N'Monaco', N'MON')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (496, N'MN', N'MGL', N'Mongolia', N'MGL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (500, N'MS', N'MSR', N'Montserrat', N'MSR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (508, N'MZ', N'MOZ', N'Mozambique', N'MOZ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (104, N'MM', N'MYA', N'Myanmar', N'MYA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (516, N'NA', N'NAM', N'Namibia', N'NAM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (520, N'NR', N'NRU', N'Nauru', N'NRU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (524, N'NP', N'NEP', N'Nepal', N'NEP')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (558, N'NI', N'NCA', N'Nicaragua', N'NCA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (562, N'NE', N'NIG', N'Niger', N'NIG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (566, N'NG', N'NGR', N'Nigeria', N'NGR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (570, N'NU', N'NIU', N'Niue', N'NIU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (578, N'NO', N'NOR', N'Norway', N'NOR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (540, N'NC', N'NCL', N'New Caledonia', N'NCL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (554, N'NZ', N'NZL', N'New Zealand', N'NZL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (512, N'OM', N'OMN', N'Oman', N'OMN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (800, N'UG', N'UGA', N'Uganda', N'UGA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (860, N'UZ', N'UZB', N'Uzbekistan', N'UZB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (586, N'PK', N'PAK', N'Pakistan', N'PAK')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (585, N'PW', N'PLW', N'Palau', N'PLW')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (591, N'PA', N'PAN', N'Panama', N'PAN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (598, N'PG', N'PNG', N'Papua New Guinea', N'PNG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (600, N'PY', N'PAR', N'Paraguay', N'PAR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (528, N'NL', N'NED', N'Netherlands', N'NED')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (604, N'PE', N'PER', N'Peru', N'PER')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (608, N'PH', N'PHI', N'Philippines', N'PHI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (612, N'PN', N'PCN', N'Pitcairn', N'PCN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (616, N'PL', N'POL', N'Poland', N'POL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (258, N'PF', N'PYF', N'French Polynesia', N'PYF')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (630, N'PR', N'PUR', N'Puerto Rico', N'PUR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (620, N'PT', N'POR', N'Portugal', N'POR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (634, N'QA', N'QAT', N'Qatar', N'QAT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (760, N'SY', N'SYR', N'Syria', N'SYR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (140, N'CF', N'CAF', N'Central African Republic', N'CAF')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (410, N'KR', N'KOR', N'South Korea', N'KOR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (498, N'MD', N'MDA', N'Moldova', N'MDA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (180, N'CD', N'COD', N'Democratic Republic of the Congo', N'COD')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (418, N'LA', N'LAO', N'Lao People’s Democratic Republic', N'LAO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (214, N'DO', N'DOM', N'Dominican Republic', N'DOM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (178, N'CG', N'CGO', N'Congo', N'CGO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (364, N'IR', N'IRI', N'Iran', N'IRI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (408, N'KP', N'PRK', N'North Korea', N'PRK')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (203, N'CZ', N'CZE', N'Czech Republic', N'CZE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (834, N'TZ', N'TAN', N'Tanzania', N'TAN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (638, N'RE', N'REU', N'Reunion', N'REU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (642, N'RO', N'ROU', N'Roumania', N'ROU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (826, N'GB', N'GBR', N'Great Britain', N'GBR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (646, N'RW', N'RWA', N'Rwanda', N'RWA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (732, N'EH', N'ESH', N'Western Sahara', N'ESH')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (654, N'SH', N'SHN', N'Saint Helena', N'SHN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (662, N'LC', N'LCA', N'Saint Lucia', N'LCA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (659, N'KN', N'KNA', N'Saint Kitts and Nevis', N'KNA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (674, N'SM', N'SMR', N'San Marino', N'SMR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (666, N'PM', N'SPM', N'Saint Pierre and Miquelon', N'SPM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (336, N'VA', N'VAT', N'Holy See (Vatican City State)', N'VAT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (670, N'VC', N'VCT', N'Saint Vincent and the Grenadines', N'VCT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (882, N'WS', N'SAM', N'Samoa', N'SAM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (16, N'AS', N'ASA', N'American Samoa', N'ASA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (678, N'ST', N'STP', N'Sao Tome and Principe', N'STP')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (686, N'SN', N'SEN', N'Senegal', N'SEN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (891, N'CS', N'SCG', N'Serbia and Montenegro', N'SCG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (690, N'SC', N'SEY', N'Seychelles', N'SEY')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (694, N'SL', N'SLE', N'Sierra Leone', N'SLE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (702, N'SG', N'SGP', N'Singapore', N'SGP')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (703, N'SK', N'SVK', N'Slovakia', N'SVK')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (705, N'SI', N'SLO', N'Slovenia', N'SLO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (706, N'SO', N'SOM', N'Somalia', N'SOM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (736, N'SD', N'SUD', N'Sudan', N'SUD')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (144, N'LK', N'SRI', N'Sri Lanka', N'SRI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (752, N'SE', N'SWE', N'Sweden', N'SWE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (756, N'CH', N'SUI', N'Switzerland', N'SUI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (740, N'SR', N'SUR', N'Suriname', N'SUR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (744, N'SJ', N'SJM', N'Svalbard and Jan Mayen Island', N'SJM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (748, N'SZ', N'SWZ', N'Eswatini', N'SWZ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (762, N'TJ', N'TJK', N'Tadjikistan', N'TJK')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (158, N'TW', N'TWN', N'Taiwan', N'TWN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (148, N'TD', N'CHA', N'Chad', N'CHA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (260, N'TF', N'ATF', N'French Southern Territories', N'ATF')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (86, N'IO', N'IOT', N'British Indian Ocean Territory', N'IOT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (275, N'PS', N'PSE', N'Occupied Palestinian Territory', N'PSE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (764, N'TH', N'THA', N'Thailand', N'THA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (626, N'TL', N'TLS', N'East Timor', N'TLS')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (768, N'TG', N'TOG', N'Togo', N'TOG')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (772, N'TK', N'TKL', N'Tokelau', N'TKL')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (776, N'TO', N'TGA', N'Tonga', N'TGA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (780, N'TT', N'TTO', N'Trinidad and Tobago', N'TTO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (788, N'TN', N'TUN', N'Tunisia', N'TUN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (795, N'TM', N'TKM', N'Turkmenistan', N'TKM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (792, N'TR', N'TUR', N'Turkey', N'TUR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (798, N'TV', N'TUV', N'Tuvalu', N'TUV')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (804, N'UA', N'UKR', N'Ukraine', N'UKR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (858, N'UY', N'URU', N'Uruguay', N'URU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (548, N'VU', N'VAN', N'Vanuatu', N'VAN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (862, N'VE', N'VEN', N'Venezuela', N'VEN')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (704, N'VN', N'VIE', N'Vietnam', N'VIE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (876, N'WF', N'WLF', N'Wallis and futuna', N'WLF')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (887, N'YE', N'YEM', N'Republic of Yemen', N'YEM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (894, N'ZM', N'ZAM', N'Zambia', N'ZAM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (716, N'ZW', N'ZIM', N'Zimbabwe', N'ZIM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (535, N'BQ', N'BES', N'Bonaire, Saint-Eustache and Saba', N'BES')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (532, N'CW', N'CUW', N'Curacao', N'CUW')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (534, N'GG', N'GGY', N'Guernesey', N'GGY')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (536, N'JE', N'JEY', N'Jersey', N'JEY')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (537, N'ME', N'MNE', N'Montenegro', N'MNE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (538, N'MF', N'MAF', N'Saint-Martin (French part)', N'MAF')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (539, N'RS', N'SRB', N'Serbia', N'SRB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (541, N'SS', N'SSD', N'South sudan', N'SSD')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (542, N'SX', N'SXM', N'Saint-Martin (Dutch part)', N'SXM')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (531, N'XK', N'KOS', N'Kosovo', N'KOS')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (10000, N'BE-BRU', N'BWB', N'Wallonia- Brussels', N'BWB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (10001, N'CA-NB', N'CNB', N'Canada New-Brunswick', N'CNB')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (10002, N'CA-QC', N'CAQ', N'Canada Quebec', N'CAQ')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (10003, N'CA-ON', N'CAO', N'Canada Ontario', N'CAO')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (741, N'IJF', N'IJF', N'IJF', N'IJF')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (747, N'TPE', N'TPE', N'Chinese Taipei', N'TPE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (758, N'PLE', N'PLE', N'Palestine', N'PLE')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (772, N'ZAI', N'ZAI', N'Zaire', N'ZAI')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (773, N'AJU', N'AJU', N'African Judo Union', N'AJU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (774, N'EJU', N'EJU', N'European Judo Union', N'EJU')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (775, N'IEA', N'IEA', N'Independent European Athletes', N'IEA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (776, N'IRT', N'IRT', N'IJF Refugee Team', N'IRT')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (777, N'JUA', N'JUA', N'Judo Union of Asia', N'JUA')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (778, N'PJC', N'PJC', N'Panamerican Judo Confederation', N'PJC')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (779, N'YAR', N'YAR', N'North Yemen', N'YAR')
--GO
INSERT INTO [dbo].[Pays] ([code], [abr2], [abr3], [nom], [AbrF]) VALUES (781, N'RCD', N'RCD', N'RCDS', N'RCD')
--GO

