<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>   
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <!--<level value="ERROR"/>-->
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="AppPublication.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="50MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} %-5level : %message%newline"/>-->
		  <conversionPattern value="%date [%thread] - %message%newline" />
      </layout>
    </appender>   
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

	<appSettings>
		<add key="URLDistant" value="http://adresse-du-site" />
		<add key="DelaiGenerationSec" value="30" />
		<add key="PublierProchainsCombats" value="false" />
		<add key="PublierAffectationTapis" value="true" />
		<add key="SiteFTPDistant" value="adresse-ftp" />
		<add key="LoginSiteFTPDistant" value="login-ftp" />
		<add key="ModeActifFTPDistant" value="false" />
		<add key="PasswordSiteFTPDistant" value="mdp-ftp" />
		<add key="RepertoireRacineSiteFTPDistant" value="/" />
		<add key="SynchroniseDifferences" value="true" />

	</appSettings>
	
</configuration>
