<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">
		<targets>
			<target name="logFile" xsi:type="File" fileName="./Log/AppPublication.log" maxArchiveFiles="10" archiveAboveSize="10485760" archiveNumbering="Rolling"
					layout="${when:when=level&lt;=LogLevel.Info:inner=${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}:else=${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}${stacktrace:format=DetailedFlat:topFrames=20:separator=&#13;&#10;}}"/>
					</targets>
			<rules>
			<logger name="*" minlevel="Debug" writeTo="logfile" />
		</rules>
	</nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
	<appSettings>
		<add key="URLDistant" value="http://adresse-du-site" />
		<add key="DelaiGenerationSec" value="30" />
		<add key="PublierProchainsCombats" value="false" />
		<add key="PublierAffectationTapis" value="true" />
		<add key="SiteFTPDistant" value="adresse-ftp" />
		<add key="LoginSiteFTPDistant" value="login-ftp" />
		<add key="ModeActifFTPDistant" value="false" />
		<add key="PasswordSiteFTPDistant" value="mdp-ftp" />
		<add key="RepertoireRacineSiteFTPDistant" value="/" />
		<add key="SynchroniseDifferences" value="true" />
	</appSettings>
</configuration>
