<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="PublicationConfigSection" type="AppPublication.Config.Publication.PublicationConfigSection, AppPublication"/>
		<section name="GenerationConfigSection" type="AppPublication.Config.Generation.GenerationConfigSection, AppPublication"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
	<!-- Utilisation de la section pour les paramètres globaux -->
	<PublicationConfigSection>
		<general repertoireRacine="C:\PublicationSite" logo="logo-France-Judo-Rhone.png" easyConfig="True" urlDistant="http://adresse-du-site" isolerCompetition="True" repertoireRacineSiteFTPDistant="/" effacerAuDemarrage="True"/>
		<schedulers>
			<scheduler id="public" delaiGenerationSec="30"/>
			<scheduler id="internal" delaiGenerationSec="30"/>
		</schedulers>
		<miniSites>
			<miniSite id="local" portMin="8080" portMax="8084" local="true" httpServer="ServeurHttpBase" httpModules=""/>
			<miniSite id="distant" ftpLogin="" ftpPassword="" ftpSite="" modeActif="false" syncDiff="true" local="false"/>
			<miniSite id="ffjudo" ftpPassword="" local="false"/>
			<miniSite id="internal" local="true" portMin="8085" portMax="8085" httpServer="ServeurHttpBase" httpModules="EcransAppelRedirectModule"/>
		</miniSites>
	</PublicationConfigSection>
	<GenerationConfigSection>
		<generateurSite delaiActualisationClientSec="20" tailleMaxPouleColonnes="6" pouleEnColonnes="False" pouleToujoursEnColonnes="False" publierProchainsCombats="True" nbProchainsCombats="6" msgProchainsCombats="" publierAffectationTapis="True"/>
		<generateurSiteInterne delaiDeroulementSec="10" nbProchainsCombats="6"/>
	</GenerationConfigSection>
	<appSettings>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<runtime>
		<gcServer enabled="true"/>
		<gcConcurrent enabled="true"/>
	</runtime>
</configuration>