@charset "utf-8";

/* HTML BODY */
html, body {
    margin: 0 auto;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.class1 {
    page-break-after: always;
}

.poule {
}

.t1 {
    width: 100%;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
}



.t2 {
    margin: 15px auto auto auto;
    width: 100%;
    border-collapse: collapse;
    flex-align: center;
}



    .t2 th {
        font-size: 1.9em;
        border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: #bababa;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .t2 td {
        font-weight: 500;
        font-size: 1.9em;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 5px;
        border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: #bababa;
        page-break-inside: avoid;
        text-align: left;
    }

    .left{
        text-align: left;
    }

        .t2 td:not(.poids):not(.signature) {
            width: auto;
        }
