@charset "utf-8";

/* HTML BODY */
html, body {
    margin: 0 auto;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}

.poule {
}



.t1 {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

    .t1 td {
        font-weight: 500;
        font-size: 1.9em;
        padding: 10px;
        border: 1px;
        border-style: solid;
        border-color: gray;
        page-break-inside: avoid;
    }

.t2 {
    margin: 10px auto auto auto;
    width: 100%;
    border-collapse: collapse;
}

    .t2 td {
        font-weight: 500;
        font-size: 1.6em;
        padding: 3px;
        border: 1px;
        border-bottom-style: solid;
        border-color: gray;
        page-break-inside: avoid;
    }

        .t2 td:not(.tcombat) {
            width: auto;
        }

    .t2 th {
        font-weight: 500;
        font-size: 1.6em;
        padding: 3px;
        border: 1px;
        border-bottom-style: solid;
        border-color: gray;
        page-break-inside: avoid;
        text-align: left;
    }
    

tr.alter {
    background-color: #D8D8D8;
}


.poule_title {
    border: black solid 2px;
    width: 95%;
    margin: 1.2em;
    text-align: center;
    border-radius: 15pt 15pt 5pt 5pt;
    background-color: rgb(224, 224, 224);
}



#poule_heure_div {
    position: relative;
    float: left;
    width: 200px;
}

#poule_title_div {
    position: relative;
    margin: 0 201px 0 201px;
    font-family: fantasy;
    font-size: 1.2em;
}


/*defeat ie 3 pixel jog*/
#poule_tapis_div {
    position: relative;
    float: right;
    width: 200px;
    top:1.0em;
    font-size:0.7em;
}

.tscore div.score{
    font-size:0.7em;
}
