div.tas-filler-div {
    height: 50px;
}

div.tas-msg-panel {
    height: 45px;
    z-index: 1;
}

div.tas-titre-app {
    z-index: 2;
}

div.tas-footnote {
    font-style: italic;
    margin-top: 5px;
}

div.tas-competition-bandeau {
    position: relative;
    z-index: 1;
}

div.tas-navigation-panel {
    display: none;
    z-index: 3;
}

div.tas-entete-section {
    font-weight: bold;
    position: relative;
    z-index: 1;
}

div.bandeau-titre {
    text-align: left;
    width: 100px;
}

img.img-bandeau-titre {
    height: 35px;
}

div.colorized-img-white {
    overflow: hidden;
}

    div.colorized-img-white img {
        filter: drop-shadow(0px 100px 0 white);
        transform: translateY(-100px);
    }

    div.colorized-img-black img {
        filter: drop-shadow(0px 100px 0 black);
        transform: translateY(-100px);
    }