div.tas-filler-div {
    height: 50px;
}

div.tas-competition-bandeau {
    position: relative;
    z-index: 1;
}

div.tas-navigation-panel {
    display: none;
    z-index: 2;
}

div.tas-entete-section {
    font-weight: bold;
    position: relative;
    z-index: 1;
}

div.bandeau-titre {
    text-align: left;
    width: 100px;
}

img.img-bandeau-titre {
    height: 35px;
}