div.tas-panel-poule-combat {
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;
}

table.tas-poule-combat {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

    table.tas-poule-combat td {
        padding: 0px;
    }

        table.tas-poule-combat td.tas-poule-heading {
            font-weight: bold;
            width: 30px;
        }

        table.tas-poule-combat td.tas-poule-heading-combat {
            width: 75px;
        }

            table.tas-poule-combat td.tas-poule-heading-combat div {
                width: 100%;
            }

        table.tas-poule-combat td.tas-poule-combat {
            height: 75px;
            width: 75px;
        }

            table.tas-poule-combat td.tas-poule-combat div {
                width: 75px;
                height: 75px;
                text-align: center
            }

            table.tas-poule-combat td.tas-poule-combat table {
                width: 100%;
                height: 100%;
            }

            table.tas-poule-combat td.tas-poule-combat td.tas-poule-combat-gagnant {
                border-bottom: .1em solid #000;
            }
